html{
    font-family: 'Montserrat', sans-serif;
}

#main-content{
    margin-top:4em;
    width: 80%;
}

.caption{
    color:grey;
    font-style: italic;
    text-align: center;
}

.blog-section-header{
    margin-top: 3em;
    margin-bottom: 1em;
}

.irrelevant_class{
    color: lightslategray;
}

.class_list{
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    margin-bottom: 1em;
}